
/* body */

body{
    background-color: #aad4cf;
}




/* header */



header{
    width: 100%;
    position: relative;   
}

.head{
    width: 100%;
    /* position: absolute; */
}

h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font: 85px sans-serif;

    /* source 
    https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_center */
}


/* menu  */


li{
    display: inline;
    font: 1em sans-serif;
    margin: 200px;
    font-size: 40px;
}