
                                                            /* body */

body{
    background-color: #aad4cf;
}




                                                             /* header */



header{
    width: 100%;
    position: relative;   
}

.img1{
    width: 100%;
    /* position: absolute; */
}

h1{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font: 95px sans-serif;

    /* source 
    https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_center */
}




                                                                  /* menu  */


.first{
    display: inline;
    font: 1em sans-serif;
    margin: 200px;
    font-size: 40px;


    /* source 
    https://www.w3schools.com/css/css_navbar_horizontal.asp */
}

#border{
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: ;

}

h2{
    font: 4em sans-serif;
    font-weight: 400;}




p {font: 1.87em sans-serif;}


                                                                     /* list */
.second{
    
    font: 1.87em sans-serif;
}


.one{
    width: 98%;
    height: 5%;
    margin-left: 2%;
    margin-right: 3%;
}

.two{
    width: 100%;
    height: 5%;
    margin-left: 2%;
    margin-right: 3%;
}

.three{
    width: 100%;
    height: 15%;
    margin-left: ;

}

button{
    width: 3%;
    height: 3.5%;
    margin-top: 1.5%;

}
















